<%- include("partials/head.ejs") %>


<h1>Form to Edit a <%= psychedelic.name %></h1>

<form action="/psychedelic" method="post">
    <input type="text" name="name" placeholder="enter name here" value="<%= psychedelic.name %>">
    <input type="text" name="effects" placeholder="enter effects here">
    <input type="text" name="benefits" placeholder="enter benefits here">
    <input type=  "submit" value="Create Todo">
</form> 