<%- include("partials/head.ejs") %>

<h1> Encyclopedia of Plant Medicines</h1>

<ul>
   <% psychdelics.forEach((psychedelic, index) => { %> 
       <a href="psychedelics/<%= index %>"> 
         <li><%= psychedelic.name %></li></a>
   
   
      <% }) %>

</ul> 




