<%- include("partials/head.ejs") %>

<h1><%= psychedelic.name %></h1>
<h3><%= psychedelic.effects %></h3>
<h3><%= psychedelic.benefits %></h3>


<a href="/psychedelics">Back to list of plant Medicines</a>